In [1]:
print("hello world")

hello world

# first notebook

#variables in python

In [2]:
x = 22

print(x)

22

In [3]:
type(x)

int

In [4]:
y = 'am good'

In [5]:
type(y)

str

In [6]:
x,y,z = 'vanilla', 'mint', 'hello'

print(x)
print(y)
print(z)

vanilla
mint
hello

# list

In [7]:
ice_cream = ['chocolate','Vanilla', 'Rocky road']
x,y,z = ice_cream
print(x)
print(y)
print(z)

chocolate
Vanilla
Rocky road

In [8]:
# the best way to write a varioable
# 1 by using underscore infront or between the words

ice_cream = 'Vanilla'
_icecream = 'Vanilla'
_ice_cream = 'Vanilla'


#the wrong ways to write variables
# 1 beginning variables with numbers

_icecream = 'vanilla'

# python data types

In [9]:
#numeric data types
#1 integers = this are whole numbers both positive and negative

type(-12+44)

int

In [10]:
#2 float = this are numerics that have decimal places 

type(10.5)
type(12+12.6)

float

In [11]:
#3 complex = this are numerical data with letters in them that are like imaginary numbers
#  J is the only letter that is used in complex (if you use anyother letter you will get an error)

type(12+5j)

complex

In [12]:
# Boolean 
# this are only used to produce either a true or false results

type(True)
type(False)

#example use case

type(1 > 5)

bool

In [13]:
1 > 5

False

In [14]:
# strings
# when assigning strings to a variable you should use Quatation marks

y = 'hae, eveyone'
type(y)

str

In [15]:
#when using strings there are use of single quatation and double quatation which are used to do the same task

x = 'life is good'
x = "life is good"

In [16]:
#triple quatations are used when you want to write a large amount of text like a poem or paragraph

multiline = """
The ice cream vanquished
my longing for sweets,
upon this diet i look away,
it no longer exists on this day
"""

In [17]:
print(multiline)

The ice cream vanquished
my longing for sweets,
upon this diet i look away,
it no longer exists on this day

In [18]:
type(multiline)

str

In [19]:
a= 'hello world'
print(a[:5])

hello

# list

In [20]:
#list
#stores multuiple values list are stored in brackets[]
# list are positioned just as strings and a position 0 we have 1

[1,2,3,4,5]

[1, 2, 3, 4, 5]

In [21]:
['BMW','Mercedes','Bently','Ferrari','Maybach']

['BMW', 'Mercedes', 'Bently', 'Ferrari', 'Maybach']

In [22]:
#to add a value to a list you use (.append) this adds to the furthest part

cars = ['BMW','Mercedes','Bently','Ferrari','Maybach']
cars.append('Buggati')
cars

['BMW', 'Mercedes', 'Bently', 'Ferrari', 'Maybach', 'Buggati']

In [23]:
# to delete elements in a list you use (.pop)- this is used to remove a value by its index
#also the (remove) function can be used and in that you provide the value to be removed from the list

#(.pop)
numbers = [1,2,3,4,5,6,7,88,9]
numbers.pop(0)

1

In [24]:
print(numbers)

[2, 3, 4, 5, 6, 7, 88, 9]

In [25]:
#(.remove)

bill = [99,87,65,44,33,23,54]
bill.remove(44)
print(bill)

[99, 87, 65, 33, 23, 54]

In [26]:
#changing things in a list
cars[0]= 'Tesla'
cars

['Tesla', 'Mercedes', 'Bently', 'Ferrari', 'Maybach', 'Buggati']

In [27]:
#nested list = this is a list within a list
nest_list = ['Vanilla',3,['Scoops','spoon'], True, 'Good']
nest_list[2]

['Scoops', 'spoon']

# tuple

In [28]:
#tuples -can not be modified or changed after it has been created
#tuples are created using open parenthesis
#tuples are used when the data in them are not expected to change

good_day = (1,2,3,4,5,6)
type(good_day)

tuple

In [29]:
for bum in good_day:
    print(bum)

1
2
3
4
5
6

# set

In [30]:
#sets
#values within a set cannot be accessed using index because its unordered

daily_stoic={1,2,3,4}
type(daily_stoic)

set

In [31]:
#sets do not hold duplicate values
#used when one wants to avoid duplicates


daily_pint = {1,2,3}

In [32]:
type(daily_pint)

set

In [33]:
print(daily_pint)

{1, 2, 3}

In [34]:
good_day = {1,2,3,5,7,8,77,2,3,7,4,5,6}  #you can see that during the print sets do not print duplicate values
print(good_day)

{1, 2, 3, 4, 5, 6, 7, 8, 77}

In [35]:
#sets can be used to compare values between different sets

daily_log = {1,2,31,2,3,4,1,2,5,6,3,2}
wife_daily_log = {1,3,5,7,3,24,5,7,3,2,0}

In [36]:
#when you want to find unique values from both daily_log and wife_daily_log

print(daily_log | wife_daily_log)

{0, 1, 2, 3, 4, 5, 6, 7, 24, 31}

In [37]:
#when you want to find value that are present in both daily_log and wife_daily_log

print(daily_log & wife_daily_log)

{1, 2, 3, 5}

In [38]:
#when you want to know the values that are not present in both daily_log and wife_daily_log

print(daily_log - wife_daily_log)

{4, 6, 31}

# dictionaries

In [39]:
#dictionaries
#has a key/value pair

dict_cream = {'name': 'Brian Michael', 'weekly intake': 5, 'favourite car':['Bently','Buggati','Mercedes']}

In [40]:
type(dict_cream)

dict

In [41]:
print(dict_cream)

{'name': 'Brian Michael', 'weekly intake': 5, 'favourite car': ['Bently', 'Buggati', 'Mercedes']}

In [42]:
dict_cream.values()

dict_values(['Brian Michael', 5, ['Bently', 'Buggati', 'Mercedes']])

In [43]:
dict_cream.keys()

dict_keys(['name', 'weekly intake', 'favourite car'])

In [44]:
#dictionaries are called by the key

dict_cream['name']

'Brian Michael'

In [45]:
#you can also update the values within a dictionary

dict_cream['name'] = 'Bimax Motors'

print(dict_cream)

{'name': 'Bimax Motors', 'weekly intake': 5, 'favourite car': ['Bently', 'Buggati', 'Mercedes']}

In [46]:
#you can also update the whole dictionary the one we did before was on updating a single value

dict_cream.update({'name': 'Bimax Motors', 'production cost': 'five million', 'favourite car': ['Genim F12', 'Coldera01', 'Feyup']})

print(dict_cream)

{'name': 'Bimax Motors', 'weekly intake': 5, 'favourite car': ['Genim F12', 'Coldera01', 'Feyup'], 'production cost': 'five million'}

In [47]:
# to delete a value from the dictionary use del before the variable

del dict_cream['weekly intake']
print(dict_cream)

{'name': 'Bimax Motors', 'favourite car': ['Genim F12', 'Coldera01', 'Feyup'], 'production cost': 'five million'}

# comparison,logical and membership operators in python

In [48]:
#this contains mathematical operators

# equal to (==)

10 == 10

True

In [49]:
#not equal to (!=)

10 != 40

True

In [50]:
'Vanilla' == 'Vanilla'

True

In [51]:
x = 'Brian'
y = 'Michael'

x != y

True

In [52]:
# less than (<)

10 < 40

True

# logical operators

In [53]:
#logical operators often compined with logical operators

#And -----returns True if both statements are true
#Or ------Returns True if one of the statements is true
#Not -----Reverse the result, returns False if the statement is true

In [54]:
(10 > 50) and (50 < 40)

False

In [55]:
(70 > 30) and (10 < 30)

True

In [56]:
(10 > 60) or (0.5 <20)

True

In [57]:
not(50 > 10)

False

# membership operators

In [58]:
#used to check if a value or string is within another value or sequence


#In -------Returns True if a sequence with the specified value is present in the object
#Not in -----Returns True if a sequence with the specified value is not present in the object

In [59]:
brian_michael = 'i love cars soo much my guy'
'guy' in brian_michael #its like we are looking for the word guy in 'i love cars soo much my guy'

True

In [60]:
'guy' in 'i love cars soo much my guy'

True

In [61]:
_muranga = [1,2,3,34,4,4,5]

67 not in _muranga

True

# If  -  Elif  -  Else  statements

In [62]:
x = 25000000
if x == 25000000:
    print('am rich!')

am rich!

In [63]:
x = 25000000
if x > 25000000:
    print('am rich!')
else:
    print('work harder bro!')

work harder bro!

In [64]:
x = 25000000
if x > 25000000:
    print('am rich!')
elif x < 50000000:
    print('good job to me!')
else:
    print('work harder bro!')

good job to me!

In [65]:
#onother way to write if else statement

print('it worked!') if 10 > 30 else print('it did not work ....')

it did not work ....

In [66]:
#nested if statement

# for loops

In [67]:
#used to do something repeatedly until untill a condition is met

In [68]:
# Syntax  =  For var_name in sequence:                          for the var_name choose something meaningful
                #statement(s)

puke = ['jenny','Ram', 'Rahul', 'Pagal']


for names in puke:
    print(names)

jenny
Ram
Rahul
Pagal

In [69]:
# for loops for dictonaries

dict_cream = {'name': 'Brian Michael', 'weekly intake': 5, 'favourite car':['Bently','Buggati','Mercedes']}

In [70]:
for bull in dict_cream.values():    #to print values
    print(bull)

Brian Michael
5
['Bently', 'Buggati', 'Mercedes']

In [71]:
for pig in dict_cream.keys():      #to print keys
    print(pig)

name
weekly intake
favourite car

In [72]:
for keys,value in dict_cream.items():   # to print out both keys and values
    print(keys,'->',value)

name -> Brian Michael
weekly intake -> 5
favourite car -> ['Bently', 'Buggati', 'Mercedes']

In [73]:
#nested for loop

In [74]:
flavors = ['Vanilla', 'Chocolate', 'Cookie Dough']
toppings = ['Hot Fudge', 'Oreos', 'Marshmallo']

In [75]:
for one in flavors:
    for two in toppings:
        print(one, 'topped with', two)

Vanilla topped with Hot Fudge
Vanilla topped with Oreos
Vanilla topped with Marshmallo
Chocolate topped with Hot Fudge
Chocolate topped with Oreos
Chocolate topped with Marshmallo
Cookie Dough topped with Hot Fudge
Cookie Dough topped with Oreos
Cookie Dough topped with Marshmallo

# while loops

In [76]:
num = 0

while num < 5:
    print(num)
    num = num + 1

0
1
2
3
4

In [77]:
# breaking while loop  --- you use break to break out of a loop even if the statement is true


num = 0

while num < 7:
    print(num)
    if num == 4:
        break
    num = num + 1

0
1
2
3
4

In [78]:
#else statement in a while loop

num = 0
while num < 5:
    print(num)
    if num == 7:
        break
    num = num+1
else:
    print('no longer < 5')

0
1
2
3
4
no longer < 5

In [ ]:
# this will lead to a infinate loop

num = 0
while num < 5:
    print(num)
    if num == 3:
        continue
    num = num+1
else:
    print('no longer < 5')

In [ ]:
# 3 won't be printed out

num = 0
while num < 5:
    num = num+1
    if num == 3:
        continue
    print(num)
else:
    print('no longer < 5')

# functions

In [ ]:
#they are only run when called
#example

def first_function():
    print('i finaly did it!')

In [ ]:
#calling the function above
first_function()

In [ ]:
#aguments in functions

def num_cool(number):
    print(number**2)

In [ ]:
#calling the function

num_cool(6)   # 6 is the agument passed to the function

In [ ]:
#passing more than one argument

def num_pass(number,power):
    print(number**power)

In [ ]:
num_pass(5,2)

In [ ]:
#abatury arguments   used when you are not sure about the number of arguments you want to pass

def num_arg(*number):
    print(number[0]*number[1])

In [ ]:
num_arg(6,5,7,8,9)

In [ ]:
#another example of how you can write the code above

tu_ple = (6,5,7,8,9)

def num_apt(*number):
    print(number[0]*number[1])

In [ ]:
num_apt(*tu_ple)

In [ ]:
#keyword Arguments   =  you define the values of the arguments

def num_one(power,number):
    print(number**power)

In [ ]:
num_one(number = 3, power = 5)

In [ ]:
#arbitary keyword argument
#in the arbitary argument we have one star here we are going to have two of them

def bri_an(**number):
    print('My number is: ' + number['brim'])

In [ ]:
bri_an(brim = '356')

In [ ]:
# when dealing with more than one

def muk_on(**arg):
    print('My number is: ' + arg['brim'] + ' My other number is: ' + arg['trim'])

In [ ]:
muk_on(brim = '356', trim = '987')

# converting data types

In [ ]:
#converting integer and strings

In [ ]:
num_int = 9
type(num_int)

In [ ]:
num_str = '8'
type(num_str)

In [ ]:
# when converting string to integer

str_con = int(num_str)

In [ ]:
type(str_con)

In [ ]:
#converting lists, sets and tuples

In [ ]:
#converting list to tuple

list_type = [1,2,3,4,5,6]
type(list_type)

In [ ]:
tuple(list_type)

In [ ]:
type(tuple(list_type))

In [ ]:
#converting a list into a set
#when converting a list into a set only the unique data will be selected because set eliminates duplicates

list_type = [1,2,3,4,3,4,2,3,9,78,5,4,5,2,1,0,4,6]
set(list_type)

In [ ]:
type(set(list_type))

In [ ]:
#converting dictionaries
dict_cream = {'name': 'Brian Michael', 'weekly intake': 5, 'favourite car':['Bently','Buggati','Mercedes']}
type(dict_cream)

In [ ]:
dict_cream.items()

In [ ]:
dict_cream.values()

In [ ]:
dict_cream.keys()

In [ ]:
#converting keys to a list
list(dict_cream.keys())

In [ ]:
type(list(dict_cream.keys()))

In [ ]:
#converting long strings into a list

puma = 'i love getting things done the right way'
list(puma)

In [ ]:
type(list(puma))

# BMI calculator (body mass index)

#BMI Calculator reference
https://mercer-health.com/services/weight-management-center/bmi-calculator#:~:text=Body%20Mass%20Index%2C%20or%20BMI,inches%20x%20height%20in%20inches

In [ ]:
# BMI = (weight in kilogram) / (height in meters x height in meters)

#Under 18.5	Underweight	Minimal
#18.5 - 24.9	Normal Weight	Minimal
#25 - 29.9	Overweight	Increased
#30 - 34.9	Obese	High
#35 - 39.9	Severely Obese	Very High
#40 and over	Morbidly Obese	Extremely High

Name = input('Enter your Name: ')
weight = float(input('Enter your weight in kilograms: '))
height = float(input('Enter your height in meters: '))
BMI = (weight) / (height**2)
print(BMI)


if BMI < 18.5:
    print(Name + ', You are underweight')
elif BMI <= 24.9:
    print(Name + ', You have a normal weight')
elif BMI <= 29.9:
    print(Name + ', You are overweight')
elif BMI <= 34.9:
    print(Name + ', You are Obese')
elif BMI <= 39.9:
    print(Name + ', You are Severly Obese')
else:
    print(Name + ', You are Morbidly Obese')

# Automatic file sorter in File explorer

In [ ]:
# the OS module       (that is what i should learn before doing this project)

# Key data structrures for data science

# string functions

# 1.lower and Upper

In [ ]:
#used to change strings to lower case or upper case

scum = 'Everything you see around you'
scum.upper()

In [ ]:
Town = 'WHERE THERE ARE MANY OPPOTUNITIES TO MAKE MONEY'
Town.lower()

# 2. Strip

In [ ]:
#used to get rid of white space and even new lines in a string

sing = '  everything is cool\n'
print(sing)

In [ ]:
sing.strip()

In [ ]:
#also used to get rid of other values within a string

make = '*****2345*****'
print(make)

In [ ]:
make.strip('*')

# 3. split

In [ ]:
#used to return a list of words in a long string

lop = 'let us all play with the new guy'
lop.split(' ')

# 4.string formatting

In [ ]:
#uses the format function   ---- used to add some words to a string

statement = 'we love {} {}'
statement.format('data','stealing')
print(statement.format('data','stealing'))

# Numpy

## numpy array

In [ ]:
#numpy can be used to store a bunch of data in multidimensional array (1,2,3)
#numpy is used because it tends to be faster than using list

## application of Numpy

Mathematics(MATLAB Replacement), 
Plotting (Matplotlib), 
It is Backend of (Pandas, Connect 4, Digital Photography), 
Machine Learning

In [ ]:
import numpy as np

### Basics

In [ ]:
#how to initialise an array

a = np.array([1,2,3])          # this is a one dimensional array
print(a)

In [ ]:
b = np.array([[9.0,8.2,7.5,1.0],[5.3,8.0,9.0,1.2]])     # this is a two dimensional array of data type floats
print(b)

In [ ]:
# how to get the dimension of your array
a.ndim

In [ ]:
b.ndim

In [ ]:
# to get the shape 
a.shape

In [ ]:
b.shape     #(2,4) = says two rows and four columns

In [ ]:
# to get type
b.dtype

In [ ]:
# to get size
b.itemsize

## Accessing/ changing specific elements, rows, columns e.t.c

In [ ]:
a = np.array([[8,6,5,3,8,9,1],[7,5,3,1,9,5,3]])
print(a)

In [ ]:
a.shape

In [ ]:
# geting a specific element  [row,column] (first row and column are 0)
# lets get 7

a[1,0]

In [ ]:
# to get an entire row
a[0, :]

In [ ]:
# to get a specific column
a[:, 4]

In [ ]:
a[0, 1:6]

In [ ]:
# changing elements (lets change 7 to 13)
a[1,0]=13
print(a)

* 3D example

In [ ]:
b = np.array([[[1,2],[3,4]],[[5,6],[7,8]]])
print(b)

In [ ]:
b.size

In [ ]:
b.ndim

In [ ]:
# getting specuific element

b[0,0,1]

## Initializing Different types of Arrays

In [ ]:
# All zeros(0s) matrix  (return a new array of a given shape and type, filled with zeros)

np.zeros((2,3))

In [ ]:
np.zeros((4,4,2))

In [ ]:
# All ones(1s) matrix (returns a new array filled with 1s)

np.ones((2,3,4))

In [ ]:
# Any other number matrix   (you specify the shape and also the values)

np.full((3,2,2), 22)     #(22 is the value to be filled that i have specified)

In [ ]:
# Any other number (np.full_like)  (enables us to take a shape that has already been build)
a = np.array([[8,6,5,3,8,9,1],[7,5,3,1,9,5,3]])
a

In [ ]:
np.full_like(a, 3)

In [ ]:
#Random decimal numbers(random.rand)

np.random.rand(3,2)

In [ ]:
#Random integer values(np.random.randint)
# 2 --- is the position argument

np.random.randint(9,size=(4,3))

In [ ]:
#The identity matrix (its always a square so it requires one agument)

np.identity(4)

In [ ]:
# Repeat a array (i have used in in a two dimensional array)

arr = np.array([[5,4,3,2]])
r1 = np.repeat(arr,3, axis=0)
print(r1)

In [ ]:
arg = np.array([[5,6,7,8],[9,7,8,5]])
print(arg)

In [ ]:
output = np.ones((5,5))
print(output)

z = np.zeros((3,3))
z[1,1]=9
print(z)
output[1:4,1:4] = z
print(output)

### when copying contents of another variable

In [ ]:
# when you want to copy the contents of another variable you need to use the (.copy())
#the example below

a = np.array([1,2,3,4])
b = a
b[0] =1000
b
a

In [ ]:
# when copying to use it diferrently

a = np.array([5,4,6,8])
b = a.copy()
b[0]= 100
b
a

## Mathematics using numpy

In [ ]:
a = np.array([1,2,3,4])
a

In [ ]:
#addition
# this adds it to all the values within the array

a+2

In [ ]:
#subtraction(also subtracts everything from the array)

a - 4

In [ ]:
#multiplication
a * 4

In [ ]:
#division
a / 2

In [ ]:
b = np.array([3,4,5,8])
a + b

In [ ]:
np.sin(a)

In [ ]:
np.cos(a)

#### Numpy mathematical Documentation
####  For a lot more (https://docs.scipy.org/doc/numpy/reference/routines.math.html)

In [ ]:
a = np .array([7,4,7,9,7,5])
a

In [ ]:
a * 10

In [ ]:
a

In [ ]:
a += 10
a

In [ ]:
a

In [ ]:
a = np.arange(9)
a

In [ ]:
a <= 3

In [ ]:
a > 6

In [ ]:
a.mean()

### Linear Algebra

In [ ]:
# Linear Algebra is the one of the most important part in machine learning

a = np.ones((2,3))
print(a)

b = np.full((3,2), 2)
print(b)

np.matmul(a,b)

In [ ]:
### DO MORE ABOUT LINEAR ALGEBRA AND NUMPY THAT WILL ALSO BE USED IN MACHINE LEARNING

### Statistics

In [ ]:
## Mean, mediun, Max, min

doo = np.array([[5,4,6,7],[8,7,9,6]])
doo

In [ ]:
np.min(doo)

In [ ]:
np.sum(doo)

## Reorganizing Arrays

In [ ]:
# This is used to mainly change the shapes of arrays(Use the .reshape)

hell = np.array([[5,6,8,9,2],[7,9,4,6,2]])
print(hell)

hello = hell.reshape((5,2))
print(hello)

In [ ]:
# Vertically stacking vectors

v1 = np.array([1,2,3,4])
v2 = np.array([5,6,7,8])

np.vstack([v1,v2])
np.vstack([v1,v2,v2,v1])

In [ ]:
# horizontal stack

h1 = np.ones((2,4))
h2 = np.zeros((2,2))

np.hstack((h1,h2))

## Miscellaneous
### Load Data from file

In [ ]:
np.genfromcsv('Excel project')

# Pandas

In [ ]:
import pandas as pd

### Importing Data into Jupyter notebook

In [ ]:
# To import data you have to give the route that the data is supossed to follow use the (pd.read_csv)(csv is a file name)

df = pd.read_csv('desktop/pandas/survey_results_public.csv')

In [ ]:
df

In [ ]:
# to get to know the number of column and rows in your data (use the .shape attribute)

df.shape

## Data types in pandas in our dataset
#### Object means string
#### Int64 is integer that stored in a 64 bit
#### and float

In [ ]:
#To get more information about the data you are using use (.info())
#This gives you the columns and the data types that you are using

df.info()

In [ ]:
# To view all the columns in our dataset (.set_option('display.max_columns',_number of columns_))

df = pd.read_csv('desktop/pandas/survey_results_public.csv')
pd.set_option('display.max_columns', 79)
df

In [ ]:
# i want to put a schema file that we have that have matching questions to the dataset that we have
# so we will load in the schema file

schema_df = pd.read_csv('desktop/pandas/survey_results_schema.csv')
schema_df

In [ ]:
# to view all rows of your dataset(pd.set_option('display.max_rows'_number of rows_))

pd.set_option('display.max_rows', 79)
schema_df

In [ ]:
schema_df

In [ ]:
df

In [ ]:
schema_df

In [ ]:
# when you want to just see a certain amount of data(.head()) this for viewing the first 10 items

schema_df.head(10)

In [ ]:
#viewing the last 10(.tail())
df.tail(10)

# dataframe and series data type

### dataframes

In [ ]:
# dataframe is madeup of multiple rows and also multiple columns ()
# Dataframes are like storing data in python Dictionaries 

#example of data stored in a python dictionary

dict_cream = {'name': ['Brian Michael','Owen Kelly', 'Candy Pange'], 'weekly intake': [5,6,9], 'favourite car':['Bently','Buggati','Mercedes']}
print(dict_cream)

In [ ]:
# Example of the same data stored using dataframes in pandas

cp = pd.DataFrame(dict_cream)
cp

In [ ]:
cp['name']

## Series

In [ ]:
# This is a list of Data . Its rows of data
# Dataframe is rows and columns while a series is just rows

In [ ]:
# Data in one row is called is series
cp.name

In [ ]:
#accessing multiple columns using dataframe

cp[['name', 'weekly intake']]

In [ ]:
# Accessing rows use (loc) and (iloc) iloc means index location
# when using (iloc) you search by integer location while in (loc) you search by label

cp.iloc[[0,1]]

In [ ]:
# to select just a specific column in defferent row

cp.iloc[[0,2], 2]

In [ ]:
cp.loc[0]

In [ ]:
cp.loc[[0,1,2], 'favourite car']

In [ ]:
df

In [ ]:
df.shape

In [ ]:
su=df['RemoteWork']
su.loc[0:50]

In [ ]:
# Counts values in a column(.value_counts())

df['RemoteWork'].value_counts()

In [ ]:

df.loc[0 : 1000, 'CompTotal' : 'LanguageHaveWorkedWith']

## Indexes - How to set, Reset and use indexes

In [ ]:
# Indexes are the numbering that are automatically given to data at the far left side
# we will first use a small amount of dataframe as an example

dict_cream = {'name': ['Brian Michael','Owen Kelly', 'Candy Pange'], 'weekly intake': [5,6,9],'Email':['bri01@gmail.com','owen66@gmail.com','pang02@gmail.com'] ,'favourite car':['Bently','Buggati','Mercedes']}
print(dict_cream)

In [ ]:
poo = pd.DataFrame(dict_cream)
poo

In [ ]:
# Indexes is what identifies each and every data within our data
# So lets set Email as our indexes because its unique on each and every person
#use(.set_index)


poo.set_index('Email')

In [ ]:
poo

In [ ]:
# To make the indexing permarnent use (.set_index('name of column', inplace=True))

poo.set_index('Email', inplace=True)
poo

In [ ]:
poo.index

In [ ]:
# use can use the email indexes to obtain data about a specific person

poo.loc['owen66@gmail.com']

In [ ]:
# How to reset the indexes (.reset_index(inplace=True))

poo.reset_index(inplace=True)
poo

In [ ]:
df = pd.read_csv('desktop/pandas/survey_results_public.csv')
schema_df = pd.read_csv('desktop/pandas/survey_results_schema.csv')
df

In [ ]:
schema_df

In [ ]:
pd.set_option('display.max_column', 79)
df

In [ ]:
df.loc[0 : 70, 'Country' : 'LanguageHaveWorkedWith']

In [ ]:
# how to set a column as the index when you are loading in the data (, index_col = 'name of the column')

df = pd.read_csv('desktop/pandas/survey_results_public.csv', index_col = 'Employment')
df.head()

In [ ]:
df['NEWCollabToolsWantToWorkWith'].value_counts()

In [ ]:
df['OpSysProfessional use'].value_counts()

In [ ]:
df['LanguageHaveWorkedWith'].value_counts()

In [ ]:
df['WebframeHaveWorkedWith'].value_counts()

In [ ]:
df['Gender'].value_counts()

In [ ]:
# To sort indexes alphabetically use (.sort_index)

df.sort_index()

In [ ]:
df['Country'].value_counts()

## Filtering  - using conditionals to fiolter Rows and columns

In [ ]:
poo

In [ ]:
# Filtering the data by the country in which respondents are located

dus =(df['Country'] == 'South Africa')
df.loc[dus]

In [ ]:
# If you want to filter to a particular column

dus =(df['Country'] == 'Uganda')
df.loc[dus,'Employment']

In [ ]:
# filtering using ( & and |)

dus =(df['Country'] == 'Uganda') & (df['RemoteWork'] == 'Fully remote')
df.loc[dus,'LanguageHaveWorkedWith']

In [ ]:
# filtering those with high salaries

high_salary = (df['CompTotal'] > 70000)
df.loc[high_salary, ['Country', 'Currency','LanguageHaveWorkedWith','CompFreq','CompTotal']]

In [ ]:
# learn about the string method in pandas

### Updating rows and columns -- Modifying data within Dataframes

### updating the columns

In [ ]:
dict_cream = {'email':['brimic@gmail.com','owenke@gmail.com','candpa@gmail.com'],'first': ['Brian','Owen', 'Candy'],'last':['Michael', 'Kelly','Pange'], 'weekly intake': [5,6,9], 'favourite car':['Bently','Buggati','Mercedes']}
print(dict_cream)

In [ ]:
poo = pd.DataFrame(dict_cream)
poo

In [ ]:
# changing columns names(.columns)

poo.columns

In [ ]:
# This only used when you want to change all the column names
poo.columns = ['EMAIL', 'FIRST', 'LAST', 'Weekly_intake', 'Favourite_car']
poo.column

In [ ]:
# To change the column names all to uppercase

poo.columns = [x.upper() for x in poo.columns]
poo

In [ ]:
# To change spaces to underscores
poo.columns = poo.columns.str.replace(' ', '_') # this won't work for us because we got no spaces on our column tittles
poo

In [ ]:
# To change the uppercase to lowercase

poo.columns = [x.lower() for x in poo.columns]
poo

In [ ]:
# to just change specific values of the columns we will use (.rename) and pass in a dictionary

poo.rename(columns={'email_address': 'email', 'full_name': 'name'}, inplace = True)
poo

### updating rows

In [ ]:
# to update the rows 
#This is used to change things within the rows mainly specific things

poo.loc[2, ['name', 'favourite_car']] = ['Tracy Blundo', 'Mobius']
poo

In [ ]:
# To change a single value

poo.loc[2, 'email'] = 'tracyblu@gmail.com'
poo

In [ ]:
# How to change multiple rows

poo

In [ ]:
poo

# Learn Apply, map, applymap,  replace

In [ ]:
poo['email'].apply(len)

## Add/ Remove Rows and columns from dataframes

In [ ]:
poo

In [ ]:
# Adding columns (use dictionaries)
# Combining two columns to form one column

poo['first'] + ' ' + poo['last']

In [ ]:
poo['full_name'] = poo['first'] + ' ' + poo['last']

In [ ]:
poo

In [ ]:
# REMOVING COLUMNS (drop)

poo.drop(columns =['first','last'], inplace = True)

In [ ]:
poo

In [ ]:
# SPLITING COLUMN (.str.split)
# WE WILL ALSO USE THE EXPAND FUNCTION TO MAKE THEM INTO COLUMNS(EXPAND = TRUE)


poo['full_name'].str.split(' ', expand = True)
poo[['first', 'last']] = poo['full_name'].str.split(' ', expand = True)
poo

In [ ]:
# ADDING A SINGLE ROW (USE DICTIONARY)

poo.append({'first':'Tracy', 'last': 'Akinyi', 'full_name': 'Tracy Akinyi', 'favourite_car': 'Gwagon', 'weekly_intake': 8,'email': 'tracyaki@gmail.com'}, ignore_index = True)

In [ ]:
poo =poo.append({'first':'Tracy', 'last': 'Akinyi', 'full_name': 'Tracy Akinyi', 'favourite_car': 'Gwagon', 'weekly_intake': 8,'email': 'tracyaki@gmail.com'}, ignore_index = True)

In [ ]:
poo

In [ ]:
poo.drop('name', axis=1, inplace=True)

In [ ]:
poo

In [ ]:
#TO REMOVE ROWS (YOU WILL PASS IN THE INDEXES INSTEAD OF COLUMN USING DROP FUNCTION )

## sorting data

In [ ]:
poo