In [1]:
print("hello world")

hello world

# first notebook

#variables in python

In [3]:
x = 22

print(x)

22

In [4]:
type(x)

int

In [5]:
y = 'am good'

In [6]:
type(y)

str

In [7]:
x,y,z = 'vanilla', 'mint', 'hello'

print(x)
print(y)
print(z)

vanilla
mint
hello

# list

In [9]:
ice_cream = ['chocolate','Vanilla', 'Rocky road']
x,y,z = ice_cream
print(x)
print(y)
print(z)

chocolate
Vanilla
Rocky road

In [ ]:
# the best way to write a varioable
# 1 by using underscore infront or between the words

ice_cream = 'Vanilla'
_icecream = 'Vanilla'
_ice_cream = 'Vanilla'


#the wrong ways to write variables
# 1 beginning variables with numbers

2icecream = 'vanilla'

# python data types

In [10]:
#numeric data types
#1 integers = this are whole numbers both positive and negative

type(-12+44)

int

In [11]:
#2 float = this are numerics that have decimal places 

type(10.5)
type(12+12.6)

float

In [16]:
#3 complex = this are numerical data with letters in them that are like imaginary numbers
#  J is the only letter that is used in complex (if you use anyother letter you will get an error)

type(12+5j)

complex

In [19]:
# Boolean 
# this are only used to produce either a true or false results

type(True)
type(False)

#example use case

type(1 > 5)

bool

In [20]:
1 > 5

False

In [21]:
# strings
# when assigning strings to a variable you should use Quatation marks

y = 'hae, eveyone'
type(y)

str

In [ ]:
#when using strings there are use of single quatation and double quatation which are used to do the same task

x = 'life is good'
x = "life is good"

In [22]:
#triple quatations are used when you want to write a large amount of text like a poem or paragraph

multiline = """
The ice cream vanquished
my longing for sweets,
upon this diet i look away,
it no longer exists on this day
"""

In [23]:
print(multiline)

The ice cream vanquished
my longing for sweets,
upon this diet i look away,
it no longer exists on this day

In [24]:
type(multiline)

str

In [25]:
a= 'hello world'
print(a[:5])

hello

In [26]:
#list
#stores multuiple values list are stored in brackets[]
# list are positioned just as strings and a position 0 we have 1

[1,2,3,4,5]

[1, 2, 3, 4, 5]

In [27]:
['BMW','Mercedes','Bently','Ferrari','Maybach']

['BMW', 'Mercedes', 'Bently', 'Ferrari', 'Maybach']

In [28]:
#to add a value to a list you use (.append) this adds to the furthest part

cars = ['BMW','Mercedes','Bently','Ferrari','Maybach']
cars.append('Buggati')
cars

['BMW', 'Mercedes', 'Bently', 'Ferrari', 'Maybach', 'Buggati']

In [29]:
#changing things in a list
cars[0]= 'Tesla'
cars

['Tesla', 'Mercedes', 'Bently', 'Ferrari', 'Maybach', 'Buggati']

In [30]:
#nested list = this is a list within a list
nest_list = ['Vanilla',3,['Scoops','spoon'], True, 'Good']
nest_list[2]

['Scoops', 'spoon']

In [31]:
#tuples -can not be modified or changed after it has been created
#tuples are created using open parenthesis
#tuples are used when the data in them are not expected to change

good_day = (1,2,3,4,5,6)
type(good_day)

tuple

In [33]:
#sets
#values within a set cannot be accessed using index because its unordered

daily_stoic={1,2,3,4}
type(daily_stoic)

set

# set

In [34]:
#more research

In [7]:
#dictionaries
#has a key/value pair

dict_cream = {'name': 'Brian Michael', 'weekly intake': 5, 'favourite car':['Bently','Buggati','Mercedes']}

In [8]:
type(dict_cream)

dict

In [9]:
print(dict_cream)

{'name': 'Brian Michael', 'weekly intake': 5, 'favourite car': ['Bently', 'Buggati', 'Mercedes']}

In [10]:
dict_cream.values()

dict_values(['Brian Michael', 5, ['Bently', 'Buggati', 'Mercedes']])

In [12]:
dict_cream.keys()

dict_keys(['name', 'weekly intake', 'favourite car'])

In [13]:
#dictionaries are called by the key

dict_cream['name']

'Brian Michael'

In [15]:
#you can also update the values within a dictionary

dict_cream['name'] = 'Bimax Motors'

print(dict_cream)

{'name': 'Bimax Motors', 'weekly intake': 5, 'favourite car': ['Bently', 'Buggati', 'Mercedes']}

In [17]:
#you can also update the whole dictionary the one we did before was on updating a single value

dict_cream.update({'name': 'Bimax Motors', 'production cost': 'five million', 'favourite car': ['Genim F12', 'Coldera01', 'Feyup']})

print(dict_cream)

{'name': 'Bimax Motors', 'weekly intake': 5, 'favourite car': ['Genim F12', 'Coldera01', 'Feyup'], 'production cost': 'five million'}

In [19]:
# to delete a value from the dictionary use del before the variable

del dict_cream['weekly intake']
print(dict_cream)

{'name': 'Bimax Motors', 'favourite car': ['Genim F12', 'Coldera01', 'Feyup'], 'production cost': 'five million'}

# comparison,logical and membership operators in python

In [20]:
#this contains mathematical operators

# equal to (==)

10 == 10

True

In [21]:
#not equal to (!=)

10 != 40

True

In [22]:
'Vanilla' == 'Vanilla'

True

In [23]:
x = 'Brian'
y = 'Michael'

x != y

True

In [24]:
# less than (<)

10 < 40

True

# logical operators

In [ ]:
#logical operators often compined with logical operators

#And -----returns True if both statements are true
#Or ------Returns True if one of the statements is true
#Not -----Reverse the result, returns False if the statement is true

In [25]:
(10 > 50) and (50 < 40)

False

In [26]:
(70 > 30) and (10 < 30)

True

In [27]:
(10 > 60) or (0.5 <20)

True

In [28]:
not(50 > 10)

False

# membership operators

In [ ]:
#used to check if a value or string is within another value or sequence


#In -------Returns True if a sequence with the specified value is present in the object
#Not in -----Returns True if a sequence with the specified value is not present in the object

In [29]:
brian_michael = 'i love cars soo much my guy'
'guy' in brian_michael #its like we are looking for the word guy in 'i love cars soo much my guy'

True

In [30]:
'guy' in 'i love cars soo much my guy'

True

In [31]:
_muranga = [1,2,3,34,4,4,5]

67 not in _muranga

True

# If  -  Elif  -  Else  statements

In [32]:
x = 25000000
if x == 25000000:
    print('am rich!')

am rich!

In [34]:
x = 25000000
if x > 25000000:
    print('am rich!')
else:
    print('work harder bro!')

work harder bro!

In [35]:
x = 25000000
if x > 25000000:
    print('am rich!')
elif x < 50000000:
    print('good job to me!')
else:
    print('work harder bro!')

good job to me!

In [36]:
#onother way to write if else statement

print('it worked!') if 10 > 30 else print('it did not work ....')

it did not work ....

In [ ]:
#nested if statement

# for loops

In [ ]:
#used to do something repeatedly until untill a condition is met

In [41]:
# Syntax  =  For var_name in sequence:                          for the var_name choose something meaningful
                #statement(s)

puke = ['jenny','Ram', 'Rahul', 'Pagal']


for names in puke:
    print(names)

jenny
Ram
Rahul
Pagal

In [42]:
# for loops for dictonaries

dict_cream = {'name': 'Brian Michael', 'weekly intake': 5, 'favourite car':['Bently','Buggati','Mercedes']}

In [43]:
for bull in dict_cream.values():    #to print values
    print(bull)

Brian Michael
5
['Bently', 'Buggati', 'Mercedes']

In [44]:
for pig in dict_cream.keys():      #to print keys
    print(pig)

name
weekly intake
favourite car

In [45]:
for keys,value in dict_cream.items():   # to print out both keys and values
    print(keys,'->',value)

name -> Brian Michael
weekly intake -> 5
favourite car -> ['Bently', 'Buggati', 'Mercedes']

In [46]:
#nested for loop

In [47]:
flavors = ['Vanilla', 'Chocolate', 'Cookie Dough']
toppings = ['Hot Fudge', 'Oreos', 'Marshmallo']

In [48]:
for one in flavors:
    for two in toppings:
        print(one, 'topped with', two)

Vanilla topped with Hot Fudge
Vanilla topped with Oreos
Vanilla topped with Marshmallo
Chocolate topped with Hot Fudge
Chocolate topped with Oreos
Chocolate topped with Marshmallo
Cookie Dough topped with Hot Fudge
Cookie Dough topped with Oreos
Cookie Dough topped with Marshmallo

# while loops

In [2]:
num = 0

while num < 5:
    print(num)
    num = num + 1

0
1
2
3
4

In [3]:
# breaking while loop  --- you use break to break out of a loop even if the statement is true


num = 0

while num < 7:
    print(num)
    if num == 4:
        break
    num = num + 1

0
1
2
3
4

In [4]:
#else statement in a while loop

num = 0
while num < 5:
    print(num)
    if num == 7:
        break
    num = num+1
else:
    print('no longer < 5')

0
1
2
3
4
no longer < 5

In [ ]:
#continue statement in a while loop

In [ ]:
# this will lead to a infinate loop

num = 0
while num < 5:
    print(num)
    if num == 3:
        continue
    num = num+1
else:
    print('no longer < 5')

In [1]:
# 3 won't be printed out

num = 0
while num < 5:
    num = num+1
    if num == 3:
        continue
    print(num)
else:
    print('no longer < 5')

1
2
4
5
no longer < 5